---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: cloudstackzones.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    kind: CloudStackZone
    listKind: CloudStackZoneList
    plural: cloudstackzones
    singular: cloudstackzone
  scope: Namespaced
  versions:
  - deprecated: true
    deprecationWarning: The v1beta1 version of CloudStackZone has been deprecated
      and will be removed in a future release of the API. Please upgrade.
    name: v1beta1
    schema:
      openAPIV3Schema:
        description: |-
          CloudStackZone is the Schema for the cloudstackzones API.

          Deprecated: This type will be removed in one of the next releases.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: CloudStackZoneSpec defines the desired state of CloudStackZone.
            properties:
              id:
                description: ID.
                type: string
              name:
                description: Name.
                type: string
              network:
                description: The network within the Zone to use.
                properties:
                  id:
                    description: Cloudstack Network ID the cluster is built in.
                    type: string
                  name:
                    description: Cloudstack Network Name the cluster is built in.
                    type: string
                  type:
                    description: Cloudstack Network Type the cluster is built in.
                    type: string
                type: object
            required:
            - network
            type: object
          status:
            description: CloudStackZoneStatus defines the observed state of CloudStackZone.
            properties:
              ready:
                description: Reflects the readiness of the CloudStack zone.
                type: boolean
            required:
            - ready
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
