---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: cloudstackisolatednetworks.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    kind: CloudStackIsolatedNetwork
    listKind: CloudStackIsolatedNetworkList
    plural: cloudstackisolatednetworks
    singular: cloudstackisolatednetwork
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: CloudStackIsolatedNetwork is the Schema for the cloudstackisolatednetworks
          API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: CloudStackIsolatedNetworkSpec defines the desired state of
              CloudStackIsolatedNetwork
            properties:
              controlPlaneEndpoint:
                description: The kubernetes control plane endpoint.
                properties:
                  host:
                    description: The hostname on which the API server is serving.
                    type: string
                  port:
                    description: The port on which the API server is serving.
                    format: int32
                    type: integer
                required:
                - host
                - port
                type: object
              id:
                description: ID.
                type: string
              name:
                description: Name.
                type: string
            required:
            - controlPlaneEndpoint
            type: object
          status:
            description: CloudStackIsolatedNetworkStatus defines the observed state
              of CloudStackIsolatedNetwork
            properties:
              loadBalancerRuleID:
                description: The ID of the lb rule used to assign VMs to the lb.
                type: string
              publicIPID:
                description: The CS public IP ID to use for the k8s endpoint.
                type: string
              ready:
                description: Ready indicates the readiness of this provider resource.
                type: boolean
            required:
            - ready
            type: object
        type: object
    served: true
    storage: false
    subresources:
      status: {}
  - name: v1beta2
    schema:
      openAPIV3Schema:
        description: CloudStackIsolatedNetwork is the Schema for the cloudstackisolatednetworks
          API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: CloudStackIsolatedNetworkSpec defines the desired state of
              CloudStackIsolatedNetwork
            properties:
              controlPlaneEndpoint:
                description: The kubernetes control plane endpoint.
                properties:
                  host:
                    description: The hostname on which the API server is serving.
                    type: string
                  port:
                    description: The port on which the API server is serving.
                    format: int32
                    type: integer
                required:
                - host
                - port
                type: object
              failureDomainName:
                description: FailureDomainName -- the FailureDomain the network is
                  placed in.
                type: string
              id:
                description: ID.
                type: string
              name:
                description: Name.
                type: string
            required:
            - controlPlaneEndpoint
            - failureDomainName
            type: object
          status:
            description: CloudStackIsolatedNetworkStatus defines the observed state
              of CloudStackIsolatedNetwork
            properties:
              loadBalancerRuleID:
                description: The ID of the lb rule used to assign VMs to the lb.
                type: string
              publicIPID:
                description: The CS public IP ID to use for the k8s endpoint.
                type: string
              ready:
                description: Ready indicates the readiness of this provider resource.
                type: boolean
            required:
            - ready
            type: object
        type: object
    served: true
    storage: false
    subresources:
      status: {}
  - name: v1beta3
    schema:
      openAPIV3Schema:
        description: CloudStackIsolatedNetwork is the Schema for the cloudstackisolatednetworks
          API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: CloudStackIsolatedNetworkSpec defines the desired state of
              CloudStackIsolatedNetwork
            properties:
              controlPlaneEndpoint:
                description: The kubernetes control plane endpoint.
                properties:
                  host:
                    description: The hostname on which the API server is serving.
                    type: string
                  port:
                    description: The port on which the API server is serving.
                    format: int32
                    type: integer
                required:
                - host
                - port
                type: object
              domain:
                description: Domain is the DNS domain name used for all instances
                  in the isolated network.
                type: string
              failureDomainName:
                description: FailureDomainName -- the FailureDomain the network is
                  placed in.
                type: string
              id:
                description: ID.
                type: string
              name:
                description: Name.
                type: string
            required:
            - controlPlaneEndpoint
            - failureDomainName
            type: object
          status:
            description: CloudStackIsolatedNetworkStatus defines the observed state
              of CloudStackIsolatedNetwork
            properties:
              apiServerLoadBalancer:
                description: APIServerLoadBalancer describes the api server load balancer
                  if one exists
                properties:
                  allowedCIDRs:
                    items:
                      type: string
                    type: array
                  ip:
                    type: string
                required:
                - ip
                type: object
              cidr:
                description: The CIDR of the assigned subnet.
                type: string
              loadBalancerRuleID:
                description: |-
                  Deprecated: The ID of the lb rule used to assign VMs to the lb.
                  No longer used, see LoadBalancerRuleIDs. Will be removed in next API version.
                type: string
              loadBalancerRuleIDs:
                description: The IDs of the lb rule used to assign VMs to the lb.
                items:
                  type: string
                type: array
              publicIPID:
                description: The CS public IP ID to use for the k8s endpoint.
                type: string
              ready:
                description: Ready indicates the readiness of this provider resource.
                type: boolean
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
