---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: cloudstackmachinestatecheckers.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    kind: CloudStackMachineStateChecker
    listKind: CloudStackMachineStateCheckerList
    plural: cloudstackmachinestatecheckers
    singular: cloudstackmachinestatechecker
  scope: Namespaced
  versions:
  - deprecated: true
    deprecationWarning: The v1beta1 version of CloudStackMachineStateChecker has been
      deprecated and will be removed in a future release of the API. Please upgrade.
    name: v1beta1
    schema:
      openAPIV3Schema:
        description: |-
          CloudStackMachineStateChecker is the Schema for the cloudstackmachinestatecheckers API.

          Deprecated: This type will be removed in one of the next releases.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: CloudStackMachineStateCheckerSpec defines the desired state
              of CloudStackMachineStateChecker.
            properties:
              instanceID:
                description: CloudStack machine instance ID.
                type: string
            type: object
          status:
            description: CloudStackMachineStateCheckerStatus defines the observed
              state of CloudStackMachineStateChecker.
            properties:
              ready:
                description: Reflects the readiness of the Machine State Checker.
                type: boolean
            required:
            - ready
            type: object
        type: object
    served: true
    storage: false
    subresources:
      status: {}
  - deprecated: true
    deprecationWarning: The v1beta2 version of CloudStackMachineStateChecker has been
      deprecated and will be removed in a future release of the API. Please upgrade.
    name: v1beta2
    schema:
      openAPIV3Schema:
        description: |-
          CloudStackMachineStateChecker is the Schema for the cloudstackmachinestatecheckers API.

          Deprecated: This type will be removed in one of the next releases.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: CloudStackMachineStateCheckerSpec defines the desired state
              of CloudStackMachineStateChecker.
            properties:
              instanceID:
                description: CloudStack machine instance ID.
                type: string
            type: object
          status:
            description: CloudStackMachineStateCheckerStatus defines the observed
              state of CloudStackMachineStateChecker.
            properties:
              ready:
                description: Reflects the readiness of the Machine State Checker.
                type: boolean
            required:
            - ready
            type: object
        type: object
    served: true
    storage: false
    subresources:
      status: {}
  - name: v1beta3
    schema:
      openAPIV3Schema:
        description: CloudStackMachineStateChecker is the Schema for the cloudstackmachinestatecheckers
          API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: CloudStackMachineStateCheckerSpec defines the desired state
              of CloudStackMachineStateChecker.
            properties:
              instanceID:
                description: CloudStack machine instance ID
                type: string
            type: object
          status:
            description: CloudStackMachineStateCheckerStatus defines the observed
              state of CloudStackMachineStateChecker.
            properties:
              ready:
                description: Reflects the readiness of the Machine State Checker.
                type: boolean
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
