name: PR Check

on:
  pull_request: {}

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@v5

      - name: Install Go 1.x
        uses: actions/setup-go@v6
        with:
          go-version: '1.24'

      - name: Run lint checks
        run: make lint

  build:
    name: Test & Build
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install Go 1.x
        uses: actions/setup-go@v6
        with:
          go-version: '1.24'

      - name: Cache
        uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Run unit tests
        run: make test

      - name: Build
        run: make build